$border: grey !default;
$backgColorInfosMus: white !default;
$backgColorh1: #DAE2FE !default;

.app{
    & h1 {
        background-color: $backgColorh1;
    }
    & h1, .info_musique{
        border : solid $border 1px;
        border-radius: 5px;
        margin: 5%;
        padding-top: 5%;
        padding-bottom: 5%;
    }
    & .home_button{
        width: 90%;
    }
    text-align:center;
}

.info_musique{
    background-color: $backgColorInfosMus;
    text-align: left;
    padding-left: 5%;
    font-size: 18px;
}

.img_musique{
    margin-top: 3%;
}