$border: grey !default;

.app{
    & h1, .info_musique{
        border : solid $border 1px;
        border-radius: 5px;
        margin: 5%;
        padding-top: 5%;
        padding-bottom: 5%;
    }
    & .home_button{
        width: 90%;
    }
    text-align:center;
}

.info_musique{
    text-align: left;
    padding-left: 5%;
}

.img_musique{
    margin-top: 3%;
}