$backgColor: #E4E4E4 !default;
$textColorButton : #ffffff !default;
$backgColorButton : #456072 !default;
$borderColorButton: #0F2636 !default;
$linkColor: black !default;
$secondColorButtonGradient: #2c4759 !default;
$blackOpacity03: rgba(0, 0, 0, 0.3) !default;
$greyOpacity025: rgba(255, 255, 255, 0.25) !default;

body {
    -webkit-touch-callout: none;
    -webkit-text-size-adjust: none;
    -webkit-user-select: none;
    background-color: $backgColor;
    font-family: 'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size: 16px;
    height: 100%;
    margin: 0px;
    padding: 0px;
    width: 100%;
}

.index {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 50px;
    width: 225px;
    text-align: center;
    padding: 0px;
    margin: -115px 0px 0px -112px;
}

@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .index {
        background-position: left center;
        padding: 75px 0px 75px 170px;
        margin: -90px 0px 0px -198px;
    }
}

@font-face {
	font-family: "MVBoli";
    src: url('../mvboli.ttf');
}

h1 {
    font-size:26px;
    font-weight:normal;
    font-family : "MVBoli";
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
    padding-bottom: 20%;
}

.home_button{
    margin : 5px;
    padding: 10px;
    display: inline-block;
    color: $textColorButton;
    font-size: 16pt;
    cursor: pointer;
    background: $backgColorButton;
    background: linear-gradient(top, $backgColorButton 0%, $secondColorButtonGradient 100%);
    background: -moz-linear-gradient(top, $backgColorButton 0%, $secondColorButtonGradient 100%);
    background: -webkit-linear-gradient(top, $backgColorButton 0%, $secondColorButtonGradient 100%);
    background: -o-linear-gradient(top, $backgColorButton 0%, $secondColorButtonGradient 100%);
    border: 1px solid $borderColorButton;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -o-border-radius: 10px;
    box-shadow: 0px 0px 4px 2px $blackOpacity03, inset 1px 1px 0px 0px $greyOpacity025;
    -moz-box-shadow: 0px 0px 4px 2px $blackOpacity03, inset 1px 1px 0px 0px $greyOpacity025;
    -webkit-box-shadow: 0px 0px 4px 2px $blackOpacity03, inset 1px 1px 0px 0px $greyOpacity025;
    -o-box-shadow: 0px 0px 4px 2px $blackOpacity03, inset 1px 1px 0px 0px $greyOpacity025;
    text-shadow: 1px 1px 0px $blackOpacity03;
}

.home_home:active{
    opacity: 0.8;
}

a {
    text-decoration: none;
    color: $linkColor;
}