<!DOCTYPE html>

<html>

<head>
    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no">
    <meta charset="UTF-8">
    <meta name="viewport"
        content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">
    <link rel="stylesheet" type="text/css" href="../css/jukeinthebox.css">
    <title>Juke in the Box</title>
</head>

<body>
    <div v-cloak class="modal" v-bind:class="{ unshow : unshow }">
        <div class="modal-content">
            <input type="search" v-model="token" type="text" class="" id="token" placeholder="Entrer votre qrcode" />
            <button v-on:click="disparait()">Valider</button>
        </div>
    </div>
    <div class="app">
        <h1>Juke in the box</h1>
        <div class="musique_en_cours">
            <section v-if="musique=='aucune'">
                <div class='info_musique'>
                    <p>Musique dans la file : Aucune</p>
                </div>
            </section>
            <section v-cloak v-else>
                <img class='img_musique' v-bind:src="musique.imagePiste" style='width:150px' />
                <div class='info_musique'>
                    <h2>Titre</h2>
                    <p>{{musique.nomPiste}}</p>
                    <hr />
                    <h2>Artiste</h2>
                    <p>
                        <span v-for="artiste in musique.artistes">{{artiste.prénom}} {{artiste.nom}}<br /></span>
                    </p>
                    <hr />
                    <h2>Album</h2><br />
                    <p>
                        <span v-for="album in musique.albums">{{album.nomAlbum}}<br /></span>
                    </p>
                </div>
            </section>
            <!--<div id="wait"></div>-->
        </div>
        <a href="file.html">
            <div class="home_button">
                <p>Voir le contenu de la file</p>
            </div>
        </a>
        <a href="bibliotheque.html">
            <div class="home_button">
                <p>Gérer sa bibliotheque</p>
            </div>
        </a>
        <a href="accueil.html">
            <div class="home_button">
                <p>Passer la musique</p>
            </div>
        </a>
        <a href="accueil.html">
            <div class="home_button">
                <p>Rejouer la musique</p>
            </div>
        </a>
    </div>

    <!--<script src="http://code.jquery.com/jquery-latest.js"></script>-->

    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.22/dist/vue.js"></script>
    <script src="https://unpkg.com/axios@0.18.0/dist/axios.js"></script>
    <script src="../js/token.js"></script>
    <script type="text/javascript" src="../js/jukeinthebox_accueil.js"></script>
</body>

</html>