<!DOCTYPE html>

<html>

<head>
        <meta name="format-detection" content="telephone=no">
        <meta name="msapplication-tap-highlight" content="no">
        <meta name="viewport"
                content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="../css/jukeinthebox.css">
        <title>Juke in the Box</title>
</head>

<body>
        <div class="app">
                <h1>Juke in the box</h1>
                <input type="search" v-model="search" v-on:input="getCatalogue()" type="text" class="barre" id="search" placeholder="rechercher"/>
                <div class="bibliotheque">
                        <div id="wait"></div>
                        <div class="biblio_pistes" v-for="piste in listMusiques">
                                        <div class='piste'>
                                                        <img style=width:150px class ='img_piste' :src="piste.imagePiste" />
                                                        <p><span v-for="artiste in piste.artistes">{{artiste.prénom}} {{artiste.nom}} </span>- {{piste.nomPiste}} </p>
                                                        <button class='add_button' v-on:click='addFileBiblio(piste.idPiste)'>Ajouter à la Bibliothèque</button>
                                        </div>
                        </div>
                </div>
        </div>
        <!--<script src="http://code.jquery.com/jquery-latest.js"></script>-->
        <script src="../js/token.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.5.22/dist/vue.js"></script>
        <script src="https://unpkg.com/axios@0.18.0/dist/axios.js"></script>
        <script type="text/javascript" src="../js/jukeinthebox_addFileBibliotheque.js"></script>
</body>

</html>