$border: grey !default;
$backgColorInfosMus: white !default;
$backgColorh1: #DAE2FE !default;
$backgColorButton : #456072 !default;

.app{
    & h1 {
        background-color: $backgColorh1;
    }
    & h1, .info_musique{
        border : solid $border 1px;
        border-radius: 5px;
        margin: 5%;
        padding-top: 5%;
        padding-bottom: 5%;
    }
    & .home_button{
        width: 90%;
    }
    text-align:center;
}

.info_musique{
    background-color: $backgColorInfosMus;
    text-align: left;
    padding-left: 5%;
    font-size: 18px;
    width: 90%;
}

.img_musique{
    margin-top: 3%;
}

h2{
    display: inline;
    font-weight: bold;
}

.musique_en_cours{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#wait{
    display:none;
    border: 16px solid $backgColorInfosMus;
    border-top: 16px solid $backgColorButton;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
    margin-bottom: 5%;
    margin-top: 5%;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }